__pycache__/
*.py[cod]
.env
venv/
*.pyc
media/
UserFiles/
Darcy
.vscode/
migrations/
Library/
ASC Application/
resources.md
makegif/
presentation/
Submitted_Info/

# SQLite database files
ParaView-5.7.0
*.sqlite3
ApacheWeb