{% extends 'BaseSidebar.html' %}



{% block title %}
{{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block Analysis %}
{{ analysis.name }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card shadow mb-4">
      <!-- Card Header  -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
          Create new analysis:
        </h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">

        <h6 class="text-secondary">
          <br>
          This wizard guides you to create a mold filling analysis in Composites on Clouds. <br>
          While creating your analysis, please follow guidelines below:
          <ul>
            <li>This platform has been designed and tested on Chrome Version 76.</li>
            <li>Do not use the back and forward keys of your browser and use the links in the website to move to
              different
              forms.</li>
            <li>Do not navigate away from the page while your browser is waiting for a respond.</li>
          </ul>

          <br>

          Set a name and description to create your analysis. <br>
          You can later modify your analysis using the same name. <br>

          <br>
        </h6>




        <form method="post" validate>
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <button type="submit" class="btn btn-success">Create</button>
        </form>
      </div>
    </div>
  </div>
  <!-- End of card content -->
  <div class="col scroll">
    <div class="card shadow mb-4">
      <!-- Card Header  -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
          Modify analysis:
        </h6>
      </div>
      <!-- Card Body -->
      <div class="card-body" style="overflow-y: auto;max-height: 530px;">
          <div class="d-flex">
              <dt class="col-sm-6">Name: </dt>
              <dt class="col-sm-6">Description: </dt>
          </div>
        {% for items in analysis|dictsort:"name"  %}
        <div class="d-flex">
            <dt class="col-sm-6"><a href="../{{items.name}}/meshdisplay/"> {{items.name}}</a></dt>
            <dd class="col-sm-6">{{items.name}}</dd>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- End of card content -->
{% endblock %}