{% extends 'BaseSidebar.html' %}


{% block title %}
{{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block Analysis %}
{{ analysis.name }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col sm-6 ">
        <div class="card shadow mb-4">
            <!-- Card Header  -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    Boundary Conditions:
                </h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h6 class="text-secondary">
                    Assign a boundary type to each edge.
                    Consider the following guideline for assigning boundary types:
                    <ul>
                        <li>You should assign at least one "Inlet" boundary.</li>
                        <li>You can enforce inlet boundaries with pressure or flow-rate.</li>
                        <li>Since flow front interact with zero gauge pressure, the inlet and outlet pressures should be
                            gauge.</li>
                        <li>You may or may not assign an outlet boundary. Assigning outlet boundary is a challenge in
                            mold-filling analysis, since dry
                            areas can remain after filling the outlet. You can enforce termination rules later.</li>
                        <li>The "Wall" boundaries do not let resin move out of the system.</li>
                    </ul>
                    <br>
                </h6>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form method="post" validate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success" name="btn" value="add">Assign BC</button>
                    <button type="submit" class="btn btn-success" name="btn" value="proceed">Proceed to Steps</button>
                </form>
            </div>
        </div>
        <!-- End of card body -->
    </div>

    <!-- End of card -->

    <div class="col  sm-6">
        <div class="card shadow mb-4">
            <!-- Card Header  -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    Assigned Boundary Conditions:
                </h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="d-flex">
                    <dt class="col-sm-3">Name</dt>
                    <dt class="col-sm-3">Type</dt>
                    <dt class="col-sm-3">Condition</dt>
                    <dt class="col-sm-3">Value</dt>
                </div>
                <!-- divider -->
                <hr class="sidebar-divider">

                {% for items in bc %}
                <div class="d-flex">
                    <dd class="col-sm-3">{{items.name}}</dd>
                    <dd class="col-sm-3">{{items.typ}}</dd>
                    {% if items.typ == 'Wall' %}
                    <dd class="col-sm-3">-</dd>
                    <dd class="col-sm-3">-</dd>
                    {% else %}
                    <dd class="col-sm-3">{{items.condition}}</dd>
                    <dd class="col-sm-3">{{items.value}}</dd>
                    {%endif%}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End of card -->
    </div>
</div>


<script>
  // Ideally this script (javascript code) would be in the HEAD of your page
  // but if you put it at the bottom of the body (bottom of your template) that should be ok too.
  // Also you need jQuery loaded but since you are using bootstrap that should
  // be taken care of.  If not, you will have to deal with that.

  // function that hides/shows condition and value based upon typ value
  function check_field_value() {
    if ($(this).find('select').val() === 'Wall') {
      $('#condition').hide();
      $('#value').hide();
    } else {
      $('#condition').show();
      $('#value').show();
    }
  }

  // this is executed once when the page loads
  $(document).ready(function () {
    // set things up so my function will be called when typ changes
    $('#typ').change(check_field_value);

    // set the state based on the initial values
    check_field_value.call($('#typ').get());
  });
</script>
{% endblock %}