{% extends 'BaseSidebar.html' %}


{% block title %}
{{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block Analysis %}
{{ analysis.name }}
{% endblock %}


{% block PageName %}
Boundary conditions
{% endblock %}

{% block content %}

<div class="container-fluid">
  {% if messages %}
  <div class="row">
    <div class="col-sm-12">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} text-center" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-4">
      <form method="post" validate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success" name="btn" value="add">Assign BC</button>
        <button type="submit" class="btn btn-success" name="btn" value="proceed">Proceed to Jobs</button>
      </form>
    </div>
    <div class="col-1">
    </div>
    <div class="col-7">
      <h4>Assigned Boundary Conditions:</h4>
      <br>
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Condition</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for r in bc %}
          <tr>
            <td>{{r.name}}</td>
            <td>{{r.typ}}</td>
            {% if r.typ == 'Wall' %}
            <td>-</td>
            <td>-</td>
            {% else %}
            <td>{{r.condition}}</td>
            <td>{{r.value}}</td>
            {%endif%}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  // Ideally this script (javascript code) would be in the HEAD of your page
  // but if you put it at the bottom of the body (bottom of your template) that should be ok too.
  // Also you need jQuery loaded but since you are using bootstrap that should
  // be taken care of.  If not, you will have to deal with that.

  // function that hides/shows condition and value based upon typ value
  function check_field_value() {
    if ($(this).find('select').val() === 'Wall') {
      $('#condition').hide();
      $('#value').hide();
    } else {
      $('#condition').show();
      $('#value').show();
    }
  }

  // this is executed once when the page loads
  $(document).ready(function () {
    // set things up so my function will be called when typ changes
    $('#typ').change(check_field_value);

    // set the state based on the initial values
    check_field_value.call($('#typ').get());
  });
</script>
{% endblock %}