{% extends 'BaseSidebar.html' %}

{% block title %}
{{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block Analysis %}
{{ analysis.name }}
{% endblock %}


{% block PageName %}
Mesh
{% endblock %}

{% block content %}

<!-- <h6 class="text-secondary">
    <br> 
    The mesh has been processed and is shown below:
    <br>
  </h6> -->

<div class="row">
  <div class="col-9">
    {% if graph %}
    {{ graph|safe }}
    {% endif %}
  </div>
  <div class="col-3">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Edges</th>
        </tr>
      </thead>
      <tbody>
        {% for r in Edges %}
        {% if r.EdgeGroup != "_None" %}
        <tr>
          <td>{{r.EdgeGroup}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <br>
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Faces</th>
        </tr>
      </thead>
      <tbody>
        {% for name in Faces %}
        <tr>
          <td>{{name}}</td>
          <td><i class="fas fa-stop fa-2x" style="color:{{palette|face_color:name}}"></i> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <form method="post" validate>
      <!-- <h6 class="text-secondary">
        <br>
        Confirm if the mesh is correct and the created Edges and Faces are shown in the table.
        <br>
      </h6> -->

      {% csrf_token %}
      {% include 'includes/form.html' %}
      <div>
        <button type="submit" class="btn btn-success" name="btn" value="upload">Upload again</button>
        <button type="submit" class="btn btn-success" name="btn" value="confirm">Confirm</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}