{% extends 'BaseSidebar.html' %}

{% block title %}
  {{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block Analysis %}
  {{ analysis.name }}
{% endblock %}


{% block PageName %}
  Mesh
{% endblock %}

{% block content %}

{% if graph %}
<div >
{{ graph|safe }}
</div>
{% endif %}

<div>
  <form method="post" enctype="multipart/form-data">
  
    {% csrf_token %}  
    {{ form.as_p }}
    <!-- {% include 'includes/form.html' %} -->
  
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <br>
  <br>

</div>


{% endblock %}