{% extends 'BaseSidebar.html' %}

{% block title %}
{{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block Analysis %}
{{ analysis.name }}
{% endblock %}


{% block PageName %}
Mesh
{% endblock %}

{% block content %}

{% if graph %}
<div>
  {{ graph|safe }}
</div>
{% endif %}
<div class="row">
  <div class="col-3">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Edges</th>
        </tr>
      </thead>
      <tbody>
        {% for r in Edges %}
        {% if r.EdgeGroup != "_None" %}
        <tr>
          <td>{{r.EdgeGroup}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-3">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Faces</th>
        </tr>
      </thead>
      <tbody>
        {% for r in Faces %}
        <tr>
          <td>{{r.FaceGroup}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-1">
  </div>
  <div class="col-4">
    <form method="post" validate>

      {% csrf_token %}
      {{ form.as_p }}
      <!-- {% include 'includes/form.html' %} -->

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
{% endblock %}