{% extends 'base.html' %}


{% block title %}
  {{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">{{ analysis.name }}</a></li>
  <li class="breadcrumb-item active">Creating Preform</li>
{% endblock %}

{% block content %}

<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Parameter</th>
        <th>Variables</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">Analysis</td>
            <td class="align-middle">{{ analysis.name }}</td>
        </tr>
        <tr>
            <td class="align-middle">Mesh</td>
            <td class="align-middle">{{ mesh.name }}</td>
        </tr>
        <tr>
          <td class="align-middle">Resin</td>
          <td class="align-middle">{{ resin.name }}</td>
      </tr>
    </tbody>
</table>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
          <form method="post" validate>
            <h4>New preform:</h4>
            <br>
            {% csrf_token %}  
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success" name="btn" value="add">Add new layer</button>
            <button type="submit" class="btn btn-success" name="btn" value="proceed">Proceed to section</button>
            <br>
            <br>
          </form>
      </div>
      <div class="col-sm-8">
        <h4>Created Preforms:</h4>
        <br>
        <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Thickness</th>
                <th>K11</th>
                <th>K12</th>
                <th>K22</th>
              </tr>
            </thead>
            <tbody>
              {% for r in rows %}
                <tr>
                  <td>{{r.name}}</td>
                  <td>{{r.thickness}}</td>
                  <td>{{r.K11}}</td>
                  <td>{{r.K12}}</td>
                  <td>{{r.K22}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>


{% endblock %}