{% extends 'BaseSidebar.html' %}


{% block title %}
{{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block Analysis %}
{{ analysis.name }}
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-5 ">
        <div class="card shadow mb-5">
            <!-- Card Header  -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    New preform:
                </h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h6 class="text-secondary">
                    <br>
                    Create a new layer for each of your preforms.
                    <br>
                    Assume the global X axis is the 1st principal direction.
                    <br>
                </h6>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center" role="alert">
                  {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form method="post" validate>
                <br>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success" name="btn" value="add">Add or update a layer</button>
                <button type="submit" class="btn btn-success" name="btn" value="proceed">Proceed to section</button>
                <br>
                <br>
                
            </div>
        </div>
        <!-- End of card body -->
    </div>

    <!-- End of card -->

    <div class="col-lg-7">
        <div class="card shadow mb-7">
            <!-- Card Header  -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    Created Preforms:
                </h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="d-flex">
                    <dt class="col-sm-2">Name</dt>
                    <dt class="col-sm-2">Thickness</dt>
                    <dt class="col-sm-1">Phi</dt>
                    <dt class="col-sm-2">K11</dt>
                    <dt class="col-sm-2">K12</dt>
                    <dt class="col-sm-2">K22</dt>
                </div>
                <!-- divider -->
                <hr class="sidebar-divider">
                
                {% for items in preforms %}
                <div class="d-flex">
                    <dd class="col-sm-2">{{items.name}}</dd>
                    <dd class="col-sm-2">{{items.thickness}}</dd>
                    <dd class="col-sm-1">{{items.phi}}</dd>
                    <dd class="col-sm-2">{{items.K11}}</dd>
                    <dd class="col-sm-2">{{items.K12}}</dd>
                    <dd class="col-sm-2">{{items.K22}}</dd>
                    <dd class="col-sm-1"><button type="submit" name="btn" value="{{items.id}}" style="background: none!important;border: none;padding: 0!important;cursor: pointer;"><i class="far fa-times-circle"></i></button></dd>
                </div>
                {% endfor %}
            </form>
            </div>
        </div>
        <!-- End of card -->
    </div>
</div>

{% endblock %}