{% extends 'BaseSidebar.html' %}


{% block title %}
{{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block Analysis %}
{{ analysis.name }}
{% endblock %}



{% block PageName %}
Section
{% endblock %}



{% block content %}

<h6 class="text-secondary">
    You can assign more than one preform to each section.
    <br>
    The order of preforms is not important in this analysis.
    <br>
    The permeability of each section will be derived using the weight-averaged permeability of the preforms of the section.
    <br>
</h6>

<div class="container-fluid">
  {% if messages %}
  <div class="row">
    <div class="col-sm-12">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} text-center" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-4">
      <form method="post" validate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success" name="btn" value="add">Assign Section</button>
        <button type="submit" class="btn btn-success" name="btn" value="proceed">Proceed to BCs</button>
      </form>
    </div>
    <div class="col-1">
    </div>
    <div class="col-7">
      <h4>Assigned Sections:</h4>
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Section</th>
            <th>Preforms</th>
            <th>Rotate</th>
          </tr>
        </thead>
        <tbody>
          {% for r in sections %}
          <tr>
            <td>{{r.name}}</td>
            <td>{{r.preform}}</td>
            <td>{{r.rotate}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}