{% extends 'base.html' %}


{% block title %}
  {{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">{{ analysis.name }}</a></li>
  <li class="breadcrumb-item active">Creating Section</li>
{% endblock %}

{% block content %}

<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Parameter</th>
        <th>Variables</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">Analysis</td>
            <td class="align-middle">{{ analysis.name }}</td>
        </tr>
        <tr>
            <td class="align-middle">Mesh</td>
            <td class="align-middle">{{ mesh.name }}</td>
        </tr>
        <tr>
          <td class="align-middle">Resin</td>
          <td class="align-middle">{{ resin.name }}</td>
      </tr>
        <tr>
            <td class="align-middle">Preform</td>
            
            <td class="align-middle">
              {% for preform in preforms %}
                {{ preform.name }} <br> 
              {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

<!-- Left pannel -->


<form method="post" validate>
    {% csrf_token %}  
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Create</button>
</form>

{% endblock %}