{% extends 'BaseSidebar.html' %}


{% block title %}
{{ analysis.name }} - {{ block.super }}
{% endblock %}

{% block Analysis %}
{{ analysis.name }}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
  <!-- Card Header  -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">
      Submit Job:
    </h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <form method="post" validate>
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <table class="table">
        <tbody>
          <tr>
            <td class="align-middle">Analysis</td>
            <td class="align-middle">{{ analysis.name }}</td>
          </tr>
          <tr>
            <td class="align-middle">Mesh</td>
            <td class="align-middle">
              {{ mesh.name }} &nbsp; &nbsp;
              <button type="submit" class="btn btn-success" name="btn" value="download_UNV">Download UNV</button>
              <button type="submit" class="btn btn-success" name="btn" value="download_XML">Download XML</button>
            </td>
          </tr>
          <tr>
            <td class="align-middle">Resin</td>
            <td class="align-middle">
              Viscosity: {{ resin.viscosity }}
            </td>
          </tr>
          <tr>
            <td class="align-middle">Preforms</td>
            <td class="align-middle">
              <div class="d-flex bd-highlight">
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Name</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Thickness</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Volume fraction</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">K11</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">K12</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">K22</div>
              </div>
              {% for preform in preforms %}
              <div class="d-flex bd-highlight">
                <div class="w-25 p-0 flex-fill bd-highlight">{{ preform.name }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ preform.thickness }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ preform.phi }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ preform.K11 }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ preform.K12 }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ preform.K22 }}</div>
              </div>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="align-middle">Sections</td>
            <td class="align-middle">
              <div class="d-flex bd-highlight">
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Name</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Preform</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Rotation</div>
              </div>
              {% for section in sections %}
              <div class="d-flex bd-highlight">
                <div class="w-25 p-0 flex-fill bd-highlight">{{ section.name }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ section.preform.name }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ section.rotate }}</div>
              </div>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="align-middle">Step</td>
            <td class="align-middle">
              <div class="d-flex bd-highlight">
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Name</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Type</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">End time</div>
              </div>
              <div class="d-flex bd-highlight">
                <div class="w-25 p-0 flex-fill bd-highlight">{{ step.name }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ step.typ }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ step.endtime }}</div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="align-middle">Boundary Conditions</td>
            <td class="align-middle">
              <div class="d-flex bd-highlight">
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Edge</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Type</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Condition</div>
                <div class="w-25 p-0 flex-fill bd-highlight font-weight-bold">Value</div>
              </div>
              {% for bc in bc %}
              <div class="d-flex bd-highlight">
                <div class="w-25 p-0 flex-fill bd-highlight">{{ bc.name }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ bc.typ }}</div>
                {% if bc.typ == 'Wall' %}
                <div class="w-25 p-0 flex-fill bd-highlight">&emsp;&emsp; -</div>
                <div class="w-25 p-0 flex-fill bd-highlight">&emsp;-</div>
                {% else %}
                <div class="w-25 p-0 flex-fill bd-highlight">{{ bc.condition }}</div>
                <div class="w-25 p-0 flex-fill bd-highlight">{{ bc.value }}</div>
                {%endif%}
              </div>
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-success" name="btn" value="download_conf">Download Configuration
        File</button>
      <button type="submit" class="btn btn-success" name="btn" value="submit">Submit job</button>
    </form>
  </div>
  <!-- End of card body -->
</div>
<!-- End of card -->
{% endblock %}